.container{
    margin-top: 20px;
    margin-bottom: 20px;
    display:flex;

    
   
}

@media (max-width:720px) {
    .container{
        flex-direction:column;
    }

}
.productImg img {
    border-radius:20px;
   
}
@media (max-width:720px){
    .productImg img {
       width:100%;
       margin-bottom: 30px;
       
    }
}
.ibtn{
    border: 2px solid black;
    padding: 15px;
    margin-right: 20px;
    background: white;
    color: black;
}
.btn-active{
    background: black;
    color: white;
}
.productDetail h4{
    margin-top:25px;
}

